{% extends 'base.html' %}
{% load static %}

{% block title %}Project Detail{% endblock title %}

{% block content %}
<main id="main">

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div>
                <img src="{{project.project_img.url}}" alt="">
              </div>
            </div>
          </div>
        </div>
          <div class="col-lg-4">
              <div class="portfolio-info">
                  <h3>{{project.title}}</h3>
                  <ul>
                      <li><strong>Github URL</strong>: <a href="{{project.git_url}}">Git Link</a></li>
                      <li><strong>Project URL</strong>: <a href="{{project.project_url}}">Website</a></li>
                  </ul>
                  <button class="btn btn-outline-primary"><a href="{% url 'index' %}">Home Page</a></button>
                  <a href=""></a>
              </div>
              <div class="portfolio-description">
                  <h2>Project Description</h2>
                  <p>
                     {{project.description}}
                  </p>
              </div>
          </div>
      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock content %}

  