{% extends 'utils/new_base.html' %}
{% load static %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    <header>
        <h1>Andy Henry</h1>
        <p>{{about.career_title}} | Problem Solver | Tech Enthusiast</p>
        <nav>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#skills">Skills</a>
            <a href="#recommendations">Recommendations</a>
            <a href="#experience">Work Experience</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <main class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <section id="about" class="section">
            <h2>About Me</h2>
            <p>
                {{about.description|linebreaks}}
            </p>
        </section>
        <section id="projects" class="section">
            <h2>Projects</h2>
            <div class="row">
                {% for project in project %}
                    <div class="col-md-4">
                        <div class="project">
                            <h3>{{project.title}}</h3>
                            <p>{{project.description|linebreaks}}</p>
                            <a href="{{project.git_url}}" target="_blank" rel="noopener noreferrer" aria-label="Visit my Github profile">Github</a>
                            <a href="{{project.project_url}}" target="_blank" rel="noopener noreferrer" aria-label="Visit my Github profile">Website</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        </section>
        <section id="skills" class="section">
            <h2>Skills & Tools</h2>
            <div class="row">
                {% for skills in skill %}
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">{{skills.skill_name}}</li>
                    </ul>
                </div>
                {% endfor %}
            </div>
            <hr>
        </section>
        <section id="recommendations" class="section">
            <h2>Recommendations</h2>
            <div class="row">
                    <div class="col-md-6 mb-3">
                        {% for comment in testimonal|slice:":2" %}
                            <blockquote class="blockquote">
                                <p class="mb-0 recommendation-text" data-full-text="{{ comment.recommendation}}">
                                    {{ comment.recommendation|truncatechars:200 }}
                                </p>
                                {% if comment.recommendation|length > 100 %}
                                <a href="" class="expand-text">Expand</a>
                                {% endif %}
                                <footer class="blockquote-footer">
                                    {{ comment.name }}, 
                                    <cite title="Company">{{ comment.title }}</cite>
                                </footer>
                            </blockquote>
                        {% endfor %}
                    </div>
                    <div class="col-md-6 mb-3">
                        {% for comment in testimonal|slice:"2:" %}
                            <blockquote class="blockquote">
                                <p class="mb-0 recommendation-text" data-full-text="{{ comment.recommendation}}">
                                    {{ comment.recommendation|truncatechars:200 }}
                                </p>
                                {% if comment.recommendation|length > 100 %}
                                <a href="" class="expand-text">Expand</a>
                                {% endif %}
                                <footer class="blockquote-footer">
                                    {{ comment.name }}, 
                                    <cite title="Company">{{ comment.title }}</cite>
                                </footer>
                            </blockquote>
                        {% endfor %}
                    </div>
            </div>
            <hr>
        </section>
        <section id="experience" class="section">
            <h2>Education and Certifications</h2>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {% for school in education|slice:":1" %}
                        <h5>{{school.title}}</h5>
                        <p>{{school.school_name}}</p>
                        <p>Completion: {{school.end_year}}</p>

                    {% endfor %}
                </div>
                <div class="col-md-6 mb-3">
                    {% for school in education|slice:"1:" %}
                        <h5>{{school.title}}</h5>
                        <p>{{school.school_name}}</p>
                        <p>Completion: {{school.end_year}}</p>

                    {% endfor %}
                </div>
            </div>
            <hr>
        </section>        
        <section id="experience" class="section">
            <h2>Professional Experience</h2>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {% for job in experience|slice:":1" %}
                        <h5 style="text-decoration: underline;">{{job.title}}</h5>
                        <p><strong>Company:</strong> {{job.location}}</p>
                        <p>{{job.emp_time}}</p>
                        <p><strong>Short Description:</strong> {{job.description|linebreaks}}</p>
                    {% endfor %}
                </div>
                <div class="col-md-6 mb-3">
                    {% for job in experience|slice:"1:" %}
                        <h5 style="text-decoration: underline;">{{job.title}}</h5>
                        <p><strong>Company:</strong> {{job.location}}</p>
                        <p>{{job.emp_time}}</p>
                        <p><strong>Short Description:</strong> {{job.description|linebreaks}}</p>
                    {% endfor %}
                </div>
            </div>
            <hr>
        </section>
        <section id="contact" class="section">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Contact</h2>
                    <p style="font-size: small; margin-left: 20px;">
                        Please feel free to reach out with any questions or opportunities.
                    </p>
                </div>
                <div class="form-group">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{email_form.as_p}}
                        <div class="text-center">
                            <input type="submit" value="Send Email">
                        </div> 
                    </form>
                </div>
            </div>
            <button class="btn btn-grey mt-3" onclick="downloadResume()">Download My Resume</button>
        </section>
    </main>
    <footer>
        <div class="social-links">
            <a href="https://github.com/AndyHenry93" target="_blank" rel="noopener noreferrer" aria-label="Visit my Github profile">Github</a>
            <a href="https://www.linkedin.com/in/andyhenry1993/" target="_blank" rel="noopener noreferrer" aria-label="Visit my LinkedIn profile">LinkedIn</a>
        </div>
        <p>&copy; 2025 Andy Henry. All Rights Reserved.</p>
    </footer>
    <script>
        function downloadResume() {
            const link = document.createElement('a');
            link.href = "{% static 'files/Developer_Resume.pdf' %}";
            link.download = 'Andy_Henry_Resume.pdf';
            link.click();
        }
    </script>
{% endblock content %}